$text-color: #2C3E50;
$color-1: #FFC12D;
$color-2: #F9B718;
$color-3: #2C3E50;
$color-4: #A1B1BC;
$color-5: #A47503;
$color-6: #558502;
$color-7: #97E411;
$color-8: #7BC200;
$color-9: #FD7761;
$color-10: #F55C43;
$color-11: #D52E13;
$color-12: #6FD9FC;
$color-13: #47B4F6;
$color-14: #0787D4;
$color-15: #A39CDC;
$color-16: #8781BD;
$color-17: #5B568E;
$bg-color1: #FFC12D;
$bg-color2: #A7EC2F;
$bg-color3: #FEB1A4;
$bg-color4: #85EBFA;
$bg-color5: #AACDF6;
$bnt-color1: #B18009;
$bnt-color2: #558502;
$bnt-color3: #D52E13;
$bnt-color4: #0787D4;
$bnt-color5: #5B568E;
$border-color: #E2E6E7;
$border-color1: #C89210;
$border-color2: #7BC200;
$border-color3: #F55C43;
$border-color4: #47B4F6;
$border-color5: #8781BD;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;

    .notification {
        display: flex;
        position: relative;
        flex-direction: row;
        width: 570px;
        height: 149px;
        margin-top: 39px;
        padding-top: 43px;
        padding-left: 49px;
        border-radius: 10px;
        background-color: #FFC12D;

        div {
            width: 335px;
        }

        &::before {
            content: '\f12a';
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            margin-right: 40px;
            border: 7px solid $border-color1;
            border-radius: 50%;
            background-color: $color-1;
            color: $color-5;
            font-family: fontawesome;
            font-size: 24px;
        }
        h3 {
            margin-top: -7px;
            margin-left: -11px;
            color: $color-3;
            font-family: 'Lato';
            font-size: 14px;
            font-weight: 900;
            letter-spacing: 1.36px;
            line-height: 26px;
        }

        p {
            margin-top: 6px;
            margin-left: -10px;
            color: $text-color;
            font-family: 'Lato';
            font-size: 14px;
            line-height: 24px;
        }

        a {

            &::after {
                content: '\f00d';
                position: absolute;
                top: 19px;
                right: 19px;
                color: $bnt-color1;
                font-family: fontawesome;
                font-size: 14px;
            }

        }

        &.success {
            margin-left: 29px;
            background-color: $bg-color2;


            &:before {
                content: '\f00c';
                border: 7px solid $border-color2;
                background-color: $color-7;
                color: $color-6;
            }

            a {

            &::after {
                color: $bnt-color2;
            }
        }
        }
        &.error {
            margin-top: 31px;
            background-color: $bg-color3;

            &::before {
                content: '\f00d';
                border: 7px solid $color-10;
                background-color: $bg-color3;
                color: $color-11;
            }
        a {
            &::after {
                color: $bnt-color3;
            }   
    }

        }
        &.flash {
            margin-top: 31px;
            margin-left: 29px;
            background-color: $bg-color4;

            &::before {
                content: '\f0e7';
                border: 7px solid $color-13;
                background-color: $bg-color4;
                color: $color-14;
            }
        a {
            
            &::after {
                color: $bnt-color4;
            }
        }

        }
        &.info {
            width: 1170px;
            margin-top: 31px;
            background-color: $bg-color5;

            &::before {
                content: '\f129';
                border: 7px solid $bnt-color5;
                background-color: $bg-color5;
                color: $color-17;
            }
            a {
                &::after {
                color: $bnt-color5;
            }
        }
    }

        .info-text {
            width: 922px;
        }
    }
}
