$text-color: #2C3E50;
$color-1: #FFC12D;
$color-2: #F9B718;
$color-3: #2C3E50;
$color-4: #A1B1BC;
$color-5: #A47503;
$color-6: #558502;
$color-7: #97E411;
$color-8: #7BC200;
$color-9: #FD7761;
$color-10: #F55C43;
$color-11: #D52E13;
$color-12: #6FD9FC;
$color-13: #47B4F6;
$color-14: #0787D4;
$color-15: #A39CDC;
$color-16: #8781BD;
$color-17: #5B568E;
$bg-color1: #FFC12D;
$bg-color2: #A7EC2F;
$bg-color3: #FEB1A4;
$bg-color4: #85EBFA;
$bg-color5: #AACDF6;
$bnt-color1: #B18009;
$bnt-color2: #558502;
$bnt-color3: #D52E13;
$bnt-color4: #0787D4;
$bnt-color5: #5B568E;
$border-color: #E2E6E7;
$border-color1: #C89210;
$border-color2: #7BC200;
$border-color3: #F55C43;
$border-color4: #47B4F6;
$border-color5: #8781BD;



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.container{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .notification{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 570px;
    height: 149px;
    margin-top: 39px;
    background-color: #FFC12D;
    border-radius: 10px;
    padding-top: 43px;
    padding-left: 49px;
        
        div{
            width: 335px;
        }
        
        &::before{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            content:'\f12a';
            font-family:fontawesome;
            font-size: 24px;
            width: 50px;
            height: 50px;
            background-color: $color-1;
            border: 7px solid $border-color1;
            color: $color-5;
            border-radius: 50%;
            margin-right: 40px;
        }
        h3{
            font-family: 'Lato';
            font-weight: 900;
            font-size: 14px;
            line-height: 26px;
            color: $color-3;
            margin-top: -7px;
            margin-left: -11px;
            letter-spacing: 1.36px;
        }
        p{
            font-family: 'Lato';
            font-size: 14px;
            line-height: 24px;
            color: $text-color;
            margin-top: 6px;
            margin-left: -10px;
        }
        a{

            &::after{
                content: '\f00d';
                font-family:fontawesome;
                position: absolute;
                top: 19px;
                right: 19px;
                font-size: 14px;
                color: $bnt-color1;
            }

        }
        &.success{
            margin-left: 29px;
            background-color: $bg-color2; 

            &:before{
                content: '\f00c';
                color: $color-6;
                background-color: $color-7;
                border: 7px solid $border-color2;
            }

                    a{

            &::after{
                color: $bnt-color2;
            }
        }
        }
        &.error{
            margin-top: 31px;
            background-color: $bg-color3;

            &::before{
                content: '\f00d';
                color: $color-11;
                background-color: $bg-color3;
                border: 7px solid $color-10;
            }
        a{
            &::after{
                color: $bnt-color3;
            }   
        }

        }
        &.flash{
            margin-left: 29px;
            margin-top: 31px;
            background-color: $bg-color4;

            &::before{
                content: '\f0e7';
                color: $color-14;
                background-color: $bg-color4;
                border: 7px solid $color-13;
            }
        a{
            
            &::after{
                color: $bnt-color4;
            }
        }

        }
        &.info{
            width: 1170px;
            margin-top: 31px;
            background-color: $bg-color5;

            &::before{
                content: '\f129';
                color: $color-17;
                background-color: $bg-color5;
                border: 7px solid $bnt-color5;
            }
        a{
            &::after{
                color: $bnt-color5;
            }
        }
        }
        .info-text{
            width: 922px;
        }
    }
    
}
