@import 'reset';
@import 'base';
@import 'pallete';
@import 'components/notification/index.scss';


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
}
