

$text-color: #2C3E50;
$color-1: #FFC12D;
$color-2: #F9B718;
$color-3: #2C3E50;
$color-4: #A1B1BC;
$color-5: #A47503;
$color-6: #558502;
$color-7: #97E411;
$color-8: #7BC200;
$color-9: #FD7761;
$color-10: #F55C43;
$color-11: #D52E13;
$color-12: #6FD9FC;
$color-13: #47B4F6;
$color-14: #0787D4;
$color-15: #A39CDC;
$color-16: #8781BD;
$color-17: #5B568E;
$bg-color1: #FFC12D;
$bg-color2: #A7EC2F;
$bg-color3: #FEB1A4;
$bg-color4: #85EBFA;
$bg-color5: #AACDF6;
$bnt-color1: #B18009;
$bnt-color2: #558502;
$bnt-color3: #D52E13;
$bnt-color4: #0787D4;
$bnt-color5: #5B568E;
$border-color: #E2E6E7;
$border-color1: #C89210;
$border-color2: #7BC200;
$border-color3: #F55C43;
$border-color4: #47B4F6;
$border-color5: #8781BD;